<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WaterNum</key>
	<integer>0</integer>
	<key>EnergyNum</key>
	<integer>0</integer>
	<key>StoneNum</key>
	<integer>1</integer>
	<key>Energy</key>
	<integer>0</integer>
	<key>BurnerNum</key>
	<integer>0</integer>
	<key>HydroNum</key>
	<integer>0</integer>
	<key>win</key>
	<integer>0</integer>
	<key>Log</key>
	<integer>0</integer>
	<key>FiberNum</key>
	<integer>0</integer>
	<key>Coal</key>
	<integer>0</integer>
	<key>ConcreteNum</key>
	<integer>0</integer>
	<key>Charcoal</key>
	<integer>0</integer>
	<key>Sand</key>
	<integer>0</integer>
	<key>Board</key>
	<integer>0</integer>
	<key>CoalNum</key>
	<integer>0</integer>
	<key>SteelNum</key>
	<integer>0</integer>
	<key>SandNum</key>
	<integer>0</integer>
	<key>CharcoalNum</key>
	<integer>0</integer>
	<key>Water</key>
	<integer>0</integer>
	<key>CrudeOil</key>
	<integer>0</integer>
	<key>Fiber</key>
	<integer>0</integer>
	<key>PlasticNum</key>
	<integer>0</integer>
	<key>IronNum</key>
	<integer>0</integer>
	<key>Concrete</key>
	<integer>0</integer>
	<key>OreNum</key>
	<integer>0</integer>
	<key>BoardNum</key>
	<integer>0</integer>
	<key>OilNum</key>
	<integer>0</integer>
	<key>Steel</key>
	<integer>0</integer>
	<key>Ore</key>
	<integer>0</integer>
	<key>GlassNum</key>
	<integer>0</integer>
	<key>LogNum</key>
	<integer>1</integer>
	<key>Plastic</key>
	<integer>0</integer>
	<key>Iron</key>
	<integer>0</integer>
	<key>Stone</key>
	<integer>0</integer>
	<key>Glass</key>
	<integer>0</integer>
</dict>
</plist>
